.select {
    border-color: #7762D2;
    padding-inline: 1.5vw;
    padding-block: 0.75vw;
    appearance: none;
    background: url(/assets/images/general/arrowDown2.svg) no-repeat right #2a2a2a;
    background-size: 3vw;
    border-radius: 0.5vw;
    outline: none;
}
.select option {
    border-color: #7762D2;
    padding-inline: 1.5vw;
    padding-block: 0.75vw;
    border-radius: 0.5vw;
}

// .select:: {
//     border-bottom-left-radius: 0;
//     border-bottom-right-radius: 0;
// }
