.switch {
    position: relative;
    display: inline-block;
    width: 4.5vw;
    height: 2.5vw;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 3vw;
}
  
.slider:before {
    position: absolute;
    content: '';
    height: 2vw;
    width: 2vw;
    left: 0.3vw;
    bottom: 0.25vw;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #7762D2;
}
  
input:checked + .slider:before {
    transform: translateX(2vw);
}
